
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
            <h3>Choose  branch office:</h3>
            
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Logo</th>
                  <th scope="col">Address</th>
                  <th scope="col">Longitude</th>
                  <th scope="col">Latitude</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let branchOffice of branchOffices"
                routerLink="{{next}}"
                (click)="OnClick(branchOffice)" style="cursor: pointer;">
                  <th scope="row" > 
                    <img src="{{branchOffice.ImageUrl}}" height="100"></th>
                  <td>{{branchOffice.Adress}}</td>
                  <td>{{branchOffice.Longitude}}</td>
                  <td>{{branchOffice.Latitude}}</td>
                </tr>
               
              </tbody>
            </table>




             
      
    </div>
  </div>
</div>
</div>


