<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
            <h3>Vehicles:</h3>
           
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ImageUrl</th>
                  <th scope="col">Model</th>
                  <th scope="col">Producer</th>
                  <th scope="col">YearOfProduction</th>
                  <th scope="col">Description</th>
                  <th scope="col">PricePerHour</th>
                  <th scope="col">IsAvailable</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vehicle of vehicles"
                
                 style="cursor: default;">
                  <th scope="row"> 
                    <img src="{{vehicle.ImageUrl}}"></th>
                  <td>{{vehicle.Model}}</td>
                  <td>{{vehicle.Producer}}</td>
                  <td>{{vehicle.YearOfProduction}}</td>
                  <td>{{vehicle.Description}}</td>
                  <td><input type="number" [(ngModel)]="vehicle.PricePerHour"></td>
                  <td><input type="checkbox" [(ngModel)]="vehicle.IsAvailable"></td>
                  <td><button (click)="OnClick(vehicle)">Save</button></td>
                </tr>
              </tbody>
            </table>




             
      
    </div>
  </div>
</div>
</div>
