<div style="text-align: left">
  <h3 class="jumbotron bg-secondary text-white">Create new account</h3>
</div>

<form clas="user-form">
<div class="form-row">
  <div class="form-group col-md-6">
  
  <p>Username:</p>
  <input  [(ngModel)]="this.Username" required>
  
  <p>Password:</p>
  <input  [(ngModel)]="this.Password" type="password" required><br>
  
  <p>Confirm password:</p>
  <input  [(ngModel)]="this.ConfirmPassword"  type="password" required><br>
  <br>
  <button (click)="OnClick()">Create</button>
  
  </div>
</div>
</form>