<div class="container">
<h1 style="text-align: center">Rent a car</h1>

<nav class="navbar navbar-dark bg-dark">
  <li><a routerLink="reservation/choose-service">choose-service</a></li>
  <li><a routerLink="/create-account" *ngIf="this.dataService.isLogedIn()===false">Create account</a></li>
  <li><a routerLink="/login" *ngIf="this.dataService.isLogedIn()===false">Login</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a routerLink="/add-service" >Add service</a></li>
      <li><a routerLink="/add-branch-office/choose-service" >Add branch office</a></li>
      <li><a routerLink="/add-vehicle/choose-service" >Add vehicle</a></li>
    </ul>



  </li>
  <!-- <a routerLink="/add-service" >Add service</a>
  <a routerLink="/add-branch-office/choose-service" >Add branch office</a>
  <a routerLink="/add-vehicle/choose-service" >Add vehicle</a> -->
</nav>
<router-outlet></router-outlet>
</div>