<p>
  user-reservations works!
</p>
<h3>User reservations:</h3>
<div>
  <div *ngFor="let reservation of userReservations">
    <div>
    <h4>Service:</h4>
    <img src="{{reservation.Service.LogoUrl}}"> <br>
    Name: <br>
    {{reservation.Service.Name}} <br>
    Email:<br>
    {{reservation.Service.Email}}<br>
    Description:<br>
    {{reservation.Service.Description}}<br>
    </div>

    <div>
    <h4>Start Branch Office:</h4>
    <img src="{{reservation.StartBranchOffice.ImageUrl}}"> <br>
    Adress: <br>
    {{reservation.StartBranchOffice.Adress}} <br>
    Longitude:<br>
    {{reservation.StartBranchOffice.Longitude}}<br>
    Latitude:<br>
    {{reservation.StartBranchOffice.Latitude}}<br>
    </div>

    <div>
    <h4>Vehicle:</h4>
    <img src="{{reservation.Vehicle.ImageUrl}}"> <br>
    Model: <br>
    {{reservation.Vehicle.Model}} <br>
    Producer:<br>
    {{reservation.Vehicle.Producer}}<br>
    Year of production:<br>
    {{reservation.Vehicle.YearOfProduction}}<br>
    Description:<br>
    {{reservation.Vehicle.Description}}<br>
    </div>

    <div>
    <h4>End Branch Office:</h4>
    <img src="{{reservation.EndBranchOffice.ImageUrl}}"> <br>
    Adress: <br>
    {{reservation.EndBranchOffice.Adress}} <br>
    Longitude:<br>
    {{reservation.EndBranchOffice.Longitude}}<br>
    Latitude:<br>
    {{reservation.EndBranchOffice.Latitude}}<br>
    </div>
    <div>

    <h4>Start Date:</h4>
    {{reservation.StartDate}}

    <h4>End Date:</h4>
    {{reservation.EndDate}}
    </div>

      
  </div>
</div>