<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
            <h3>Reservations:</h3>
            
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Service Name</th>
                  <th scope="col">StartBranchOffice Adress</th>
                  <th scope="col">StartDate</th>
                  <th scope="col">EndBranchOffice Adress</th>
                  <th scope="col">EndDate</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reservation of userReservations"
                
                 style="cursor: default;">
                  <td>{{reservation.Service.Name}}</td>
                  <td>{{reservation.StartBranchOffice.Adress}}</td>
                  <td>{{reservation.StartDate}} </td>
                  <td>{{reservation.EndBranchOffice.Adress}}</td>
                  <td>{{reservation.EndDate}} </td>
                  
                </tr>
              </tbody>
            </table>
    </div>
  </div>
</div>
</div>
